.App {
  text-align: center;
  background-color: #0a3642;
  height: max-content;
  margin-top: 10px;
}
.App footer{
  color: white;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(232, 233, 232);
  margin-top: 20px;

  text-align: start;

  font-size: calc(10px + 2vmin);
  color: rgb(19, 18, 18);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
